ocnews-url "NEWSBOAT_NEXTCLOUD_URL" # Domain of your Nextcloud
ocnews-login "NEWSBOAT_NEXTCLOUD_LOGIN" # Desired nextcloud user to log in as
ocnews-password "NEWSBOAT_NEXTCLOUD_PASSWORD" # Nextcloud password (app password if using 2Fa)
