/* Latte Colors */
@define-color background #ccd0da;
@define-color accent #7287fd;
@define-color text #4c4f69;

* {
  font-family: "FiraCode Nerd Font", monospace;
  font-size: 14px;
}

/* Window */
window {
  background-color: transparent;
  border: 5px solid @background;
  border-radius: 15px;
  animation: slideIn 0.1s ease-in-out both;
}

/* Slide In */
@keyframes slideIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* Inner Box */
#inner-box {
  margin: 0px;
  padding: 0px;
  border: none;
  background-color: @background;
  color: @text;
  animation: fadeIn 0.1s ease-in-out both;
}

/* Fade In */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* Outer Box */
#outer-box {
  margin: 5px;
  background-color: @background;
}

/* Scroll */
#scroll {
  margin: 0px;
  padding: 5px;
  border: none;
}

/* Input */
#input {
  margin: 5px;
  padding: 5px;
  border: none;
  background-color: @background;
  animation: fadeIn 0.1s ease-in-out both;
}

#input:focus {
  box-shadow: none;
}

/* Text */
#text {
  margin: 5px;
  padding: 5px;
  border: none;
  color: @text;
  animation: fadeIn 0.1s ease-in-out both;
}

/* Selected Entry */
#entry:selected {
  background-color: @accent;
}