[Unit]
Description=Run Lid Check Script Every 5 Seconds

[Timer]
OnCalendar=*:*:0/5
AccuracySec=1s
Unit=lid-check.service

[Install]
WantedBy=timers.target
